
/* #form {
    margin-top: 100px;
    margin-bottom: 300px;
    width: 300px;
    height: auto;
    padding-left: 500px;
    
} */

.card {
    margin-top: 30px;
    margin-bottom: 40px;
}

.pygrammers {
    margin-top: 60px;
    margin-bottom: 140px;
}

